<div class="app">
  <div class="task-wrapper">
    <div class="task-category">
      <h1 class="category-heading">To Do tasks</h1>
      <div class="tasks">
        <app-task *ngFor="let task of todoTasks" [task]="task" (taskChange)="update($event)"></app-task>
      </div>
    </div>
    <div class="task-category">
      <h1 class="category-heading">Tasks Started</h1>
      <div class="tasks">
        <app-task *ngFor="let task of startedTasks" [task]="task" (taskChange)="update($event)"></app-task>
      </div>
    </div>
    <div class="task-category">
      <h1 class="category-heading">Tasks Completed</h1>
      <div class="tasks">
        <app-task *ngFor="let task of completedTasks" [task]="task" (taskChange)="update($event)"></app-task>
      </div>
    </div>
  </div>
</div>