<div class="app container-fluid p-4">
  <div class="row">
    <div class="col-md-4 mt-3">
      <h1 class="category-heading">Filters</h1>
      <div class="mb-4">
        <label for="statusFilter" class="form-label">Status</label>
        <select [(ngModel)]="params.status" class="form-select" id="statusFilter">
          <option value="all" selected>All</option>
          <option *ngFor="let status of options" [ngValue]="status">
              {{ status }}
          </option>
      </select>
      </div>

      <div class="mb-4">
        <label for="titleSearch" class="form-label">Search by Title</label>
        <input type="text" class="form-control" placeholder="Search here.." id="titleSearch" [(ngModel)]="params.search" />
      </div>

      <button type="submit" class="btn btn-success mt-3" (click)="getTasks()">Search</button>
    </div>

    <div class="col-md-4 task-category mt-3">
      <h1 class="category-heading">Your Tasks</h1>
      <div class="p-3">
        <app-task *ngFor="let task of tasks" [task]="task" (taskChange)="update($event)" (taskDelete)="delete($event)"></app-task>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <h1 class="category-heading">{{ formType === 'add' ? 'Add New Task' : 'Edit Task' }}</h1>
      <app-form (createTask)="createTask($event)" [form]="taskPayload"></app-form>
    </div>
  </div>
</div>