.app {
    height: 100vh;
    width: 100%;
}
.task-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    height: inherit;
}
.task-category {
    padding: 0;
    height: 90vh;
    overflow-y: auto;
    background-color: cornsilk;
}
.category-heading {
    text-align: center;
    padding: 5vh;
    height: fit-content;
    background-color: aliceblue;
}
.submit-btn {
    width: 100%;
}