<div class="app container-fluid p-4">
  <div class="row">
    <div class="col-md-4 mt-3">
      <h1 class="category-heading">Filters</h1>
      <div class="mb-4">
        <label for="statusFilter" class="form-label">Status</label>
        <select [(ngModel)]="params.status" class="form-select" id="statusFilter">
          <option value="all" selected>All</option>
          <option *ngFor="let status of options" [ngValue]="status">
              {{ status }}
          </option>
      </select>
      </div>

      <div class="mb-4">
        <label for="titleSearch" class="form-label">Search by Title</label>
        <input type="text" class="form-control" placeholder="Search here.." id="titleSearch" [(ngModel)]="params.search" />
      </div>

      <button type="submit" class="btn btn-success mt-3" (click)="getTasks()">Search</button>
    </div>

    <div class="col-md-4 task-category mt-3">
      <h1 class="category-heading">Your Tasks</h1>
      <div class="p-3">
        <app-task *ngFor="let task of tasks" [task]="task" (taskChange)="update($event)"></app-task>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <h1 class="category-heading">Add New Task</h1>
      <form [formGroup]="createForm" class="mt-2" (ngSubmit)="createTask()">
        <div>
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter title.." formControlName="title" />
        </div>
        <div class="mt-4">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" rows="5" id="description" formControlName="description"></textarea>
        </div>
        <div class="mt-4">
          <label for="status" class="form-label">Status</label>
          <select class="form-select" id="status" formControlName="status">
            <option *ngFor="let status of options" [ngValue]="status" [selected]="status === 'todo'">
                {{ status }}
            </option>
          </select>
        </div>
        <div class="mt-4">
          <input type="submit" class="btn btn-success submit-btn" />
        </div>
      </form>
    </div>
  </div>
</div>